#verticalNavContainerSmall{
    border: none;
    width: 50px;
    height: 100%;
    position: fixed;
    margin-top: 101px;
    opacity: 0.5;
}

#verticalNavContainerBig{
    border: none;
    width: 220px;
    height: 100%;
    position: fixed;
    margin-top: 101px;
}

.smallIconContainer{
    height: 40px;
    width: 40px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    margin-top: 60px;
    opacity: 0.6;
}

.smallIcon{
    max-width: 100%;
    max-height: 100%;
}

.largeIconContainer{
    display: grid;
    grid-template-columns: 40% 60%;
    margin-top: 40px;
}

.largeIconContainer:hover {
    background-color: lightblue; /* Change this to the desired hover background color */
}

.largeIcon{
    height: 60px;
    width: 60px;
    border-radius: 50%;
    margin-left: 5px;
}

h3{
    font-family: cursive;
}