

#pgContainer {
    display: grid;
    grid-template-columns: 40% 60%;
    background-color: #F4F2F3;
    height: 100%;
  }

  #homePgContentContainer{
    margin-top: 100px;
    text-align: center;
  }

  #homePgContentSecondContainer{
    margin-top: 120px;
    text-align: center;
  }

  #japnMapTitle{
    font-weight: 200;
    text-decoration: underline;
  }

  #japanMapContainer{
    margin-top: 20px;
  }

  #homePgHeader{
    font-weight: 180;
    font-size: 300%;
    text-decoration: underline;
    margin-bottom: 0px;
  }

  #prefectureMapText{
    font-weight: 180;
    font-size: 300%;
    text-decoration: underline;
  }

  #homePgIntroInfo{
    font-weight: 180;
    font-size: 200%;
    margin-top: 5.5px;
  }

  .homePgInfoText{
    font-weight: 180;
    margin-top: 40px;
  }

  #homePgLogo{
    height: 300px;
  }

  #homePgIntroOptionsGrid{
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: repeat(3, 1fr);
    gap: 8px;
    margin-left: 10px;
    margin-right: 8px;
    width: 90%;
    margin-top: 0px;
    background-color: #F4F2F3;
    margin-left: 60px;
    margin-right: 40px;
  }

  .homePgIntroAvailableOptions{
    height: 300px;
    border: solid;
    border-radius: 24px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    background-color: black;
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .homePgCardTitleContainer{
    background-color: rgba(1, 1, 1, 0.8);
    width: 100%;
    border-radius: 24px;
  }

  .homePgCardTitle{
    color: white;
    text-decoration: none;
  }

  .verticalNavOpen #homePgContainer {
    margin-left: 220px;
    width: calc(100% - 220px);
}
  
  #homePgTextContainer {
    text-align: center;
    margin-left: 15px;
    margin-right: 15px;
    max-width: 100%;
    word-break: break-word;
    overflow-wrap: break-word;
  }
  
  #homeTextHeader {
    border-bottom: solid;
  }
  
  #optionsContainer {
    display: grid;
    grid-template-columns: 50% 50%;
  }
  
  .options {
    border: solid;
    height: 150px;
    width: 350px;
    border-radius: 24px;
    position: relative;
    overflow: hidden;
    color: white;
    margin-top: 10px;
  }
  
  .options::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    opacity: 0.5;
    transition: opacity 0.3s;
    border-radius: 30%;
  }
  
  .options:nth-child(1)::before {
    background-image: url("../../assets/businessImg.jpg");
  }
  
  .options:nth-child(2)::before {
    background-image: url("../../assets/peopleImg.jpg");
  }
  
  .options h2 {
    position: relative;
    z-index: 1;
    font-weight: bold;
    transition: opacity 0.3s;
  }
  
  .options:hover::before {
    opacity: 1;
  }
  
  .options:hover h2 {
    opacity: 0;
  }


  #homePgAdminPrefectureContainer{
    background-color: rgba(1, 1, 1, 0.8);
  }

  #homePgAdminAddPrefecture{
    color: white;
    text-decoration: underline;
  }

  #adminHomePgAdminOption{
    height: 400px;
  }