#checkInGrid{
    display: grid;
    grid-template-columns: 14% 76%;
    margin-left: 140px;
    margin-top: 20px;
    align-items: center;
    margin-top: 30px;
    justify-content: center;
    border-bottom: 1px solid rgba(0, 0, 0, 0.5);
}

#renderedCheckInImgContainer{
    height: 60px;
    width: 60px;
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

#renderedCheckInImg{
    width: 100%;
    height: 100%;
}

#checkInInfoBlock{
    display: block;
    text-align: left;
}

#checkInInfo{
    margin-bottom: 0px;
}

#checkInInfoDetails{
    margin-bottom: 0px;
    margin-top: 0px;
}

#checkInInfoDate{
    margin-top: 0px;
}