#businessInfoRenderGrid{
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
    border-radius: 24px;
    text-align: center;
    display: block;
    background-color: #e5eaf5;
    overflow: hidden;
    align-items: center;
    justify-content: center;
}

#renderedInfoGrid{
    display: grid;
    grid-template-columns: 20% 80%;
    grid-template-rows: 20% 20% 20% 20% 20%; 
    align-items: center;
    justify-content: center;
    margin: 40px;
    border-bottom: 1px solid rgba(255, 0, 0, 0.5);;
}

.renderedInfoIconContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
}

.renderedIcon{
    max-width: 80%;
    max-height: 80%;
}



