#visitedBusinessRelationContainer {
    border: solid;
    width: 100%;
    background-color: black;
    border-radius: 24px;
}

#visitedBusinessOptionsButtons {
    background-color: black;
    color: white;
}

#visitedBusinessOptionsButtons.chosenCategoryButton {
    background-color: pink;
    color: black;
    text-decoration: underline;
    font-weight: bold;
}
