#visitedBusinessInfoContainer{
    display: grid;
    grid-template-columns: 20% 80%;
    align-items: center;
}

#visitedBusinessInfoImgContainer{
    height: 200px;
    width: 200px;
    border-radius: 50%;
    display: flex;
    overflow: hidden;
    margin-left: 10px;
}

#visitedBusinessInfoImg{
    max-width: 100%;
    max-height: 100%;
}

#visitedBusinessInfoBlock{
    display: block;
    color: white;
}

#visitedBusinessTitle{
    text-align: center;
    text-decoration: underline;
    font-size: 400%;
    font-weight: 40;
}

#visitedBusinessAvScore,
#visitedBusinessInfo{
    text-align: center;
    text-decoration: none;
    font-size: 200%;
    font-weight: 40;
}