#updateProfilePicContainer{
    height: 80%;
    width: 80%;
    background-color: white;
    margin-left: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

#loadedPic{
    background-color: green;
    color: white;
}

#fileSelect{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 70px;
}