#pictureContainer {
    margin-left: 10px;
    margin-right: 10px;
}

#uploadedUserPicsGrid {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* Ensures three columns per row */
    gap: 10px; /* Optional: Adds spacing between grid items */
    justify-items: center; /* Optional: Centers items horizontally */
    align-items: center; /* Optional: Centers items vertically */
}

#pictureCover {
    height: 400px;
    width: 400px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 24px;
    object-fit: contain;
}

#renderedPicture {
    height: 100%;
    width: 100%;
}
