#visitedPrefectureButtonGrid{
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
    margin-left: 10px;
}

#prefectureVisitedButtons{
    border: solid;
    text-align: center;
    border-radius: 24px;
    margin-left: 5px;
}

.selectedPrefecture{
    background-color: pink;
}

#userOptionsGrid{
    margin-left: 10px;
    display: grid;
    grid-template-columns: 33% 33% 33%;
    text-align: center;
}

.userProfileHeaders{
    font-size: 300%;
    font-weight: 100;
}

#selectedUserProfileHeader{
    text-decoration: underline;
    font-weight: 400;
}