#renderVisitedBusinessesCardContainer{
    margin-right: 10px;
    display: grid;
    grid-template-columns: 33% 33% 33%;
}

#renderVisitedBusinessesCard{
    border: solid;
    margin: 8px;
    height: 400px;
    border-radius: 24px;
    background-color: #d0bdf4;
    text-align: center;
}

#renderVisitedBusinessImgContainer{
    display: flex;
    overflow: hidden;
    height: 200px;
    border-top-left-radius: 24px;
    border-top-right-radius: 24px;
    width: 100%;
}

#renderVisitedBusinessImg{
    max-height: 100%;
    width: 100%;
}

#visitedBusinessNextButtons{
    text-align: center;
}