#uploadNewPicButton{
    width: 100%;
    align-items: center;
    justify-content: center;
    display: flex;

}

#renderedUserPictureGrid{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 100%;
    gap: 10px; /* Optional: adds spacing between pictures */
    justify-content: center;
    align-items: center;
}

#newPicUploadButton{
    height: 100px;
    width: 100px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    cursor: pointer;
}

#newPicUploadLogoImg{
    max-width: 100%;
    max-height: 100%;
}

.pictureFeedImg:hover{
    cursor: pointer;
}