

#prefecturePgContainer {
    position: absolute;
    top: 100px;
    transition: margin-left 0.3s ease;
    width: calc(100% - 50px); /* Default width when nav is closed */
    margin-left: 10px;
    background-color: #FAF9F6
}

.verticalNavOpen #pgContainer {
    margin-left: 220px;
    width: calc(100% - 220px);
}

.verticalNavClosed #pgContainer {
    margin-left: 250px;
    width: calc(100% - 50px);
}

#prefectureImg{
    width: 100%;
    height: 700px;
    overflow: hidden;
    margin-top: 20px;
    max-width: 100%;
}

#prefectureHeaderInfoContainer{
    width: 100%;
    display: block;

}

#prefectureInfoRight{
    text-align: center;
    margin-top: 50px;
}

#prefectureInfo{
    display: grid;
    grid-template-columns: 40% 25% 35%;
}

#prefectureLeftContainer{
    display: block;
}

#prefectureInfoCenter{
    border-right: solid;
    margin-top: 46px;
    text-align: center;
    border-left: solid;
}

#prefectureName{
   font-size: 400%;
   font-family: cursive;
   text-decoration: underline;
   margin-left: 20px;
}

#prefectureInfo h4 {
    white-space: pre-line;
}

#prefectureSpecifics{
    display: grid;
    grid-template-columns: 50% 50%;
    align-items: center;
    justify-content: center;
}

#prefectureFlag{
    height: 60px;
    width: 100px;
}

#prefectureIntroInfo{
    margin-left: 20px;
    text-decoration: underline;
}

#prefectureCategoryBar{
    margin-top: 10px;
}

#categoryButtons{
    border-radius: 24px;
    margin-top: 20px;
    border: none;
    font-family: cursive;
    transition: transform 1s, box-shadow 0.4s;
}

#categoryButtons:hover{
    transform: translateY(-10px); /* Move the card up */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Add a shadow for depth */
    opacity: 1;
    text-decoration: underline;
    font-size: 200%;
    font-weight: bold;
}

.selected{
    transform: translateY(-10px); /* Move the card up */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Add a shadow for depth */
    opacity: 1;
    text-decoration: underline;
    font-size: 200%;
    font-weight: bold;
    background-color: #ffb7c5;
}

#interactiveButtonContainer{
    display: grid;
    grid-template-columns: 50% 50%;
    align-items: center;
    justify-content: center;
}

/* #ffb7c5; */