#signUpDiv{
    margin-top: 50px;
    margin-left: 20px;
    width: 600px;
    height: 550px;
    border: solid;
    border-radius: 5%;
    background-color: black;
    opacity: 0.75;
}

#signUpTitle{
    text-align: center;
    color: white;
    opacity: 1;
}


#userSelectContainer{
    display: flex;
    justify-content: center;
    align-items: center;
}

.userSelectButton{
    width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
    height: 40px;
}

.userSelectButton:hover{
    opacity: 1;
    background-color: #D2042D;
    color: wheat;
    font-weight: bold;
}

#signInForm{
    border: solid;
    height: 60px;
    margin-left: 550px;
    width: 400px;
}

.signUpError{
    text-align: center;
    color: red;
}