#prefectureInfoForm{
    display: block;
    justify-content: center;
    align-items: center;
}

#prefectureNewInfo{
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#changePrefectureButtonContainer{
    display: grid;
    grid-template-columns: 50% 50%;
    margin-top: 10px;
    justify-content: center;
    align-items: center;
}

.prefectureInfoEditButton{
    width: 150px;
}