h2{
    font-family: cursive;
    text-align: center;
    text-decoration: underline;
}

#prefectureBusinessesContainer{
    border-bottom: solid;
}

#businessInfoGrid{
    display: grid;
    grid-template-columns: 70% 30%;
}

#reviewGrid{
    display: grid;
    grid-template-columns: 70% 30%;
}

.numberReviews{
    font-family: 'Times New Roman', Times, serif;
    margin-top: 26px;
}

#specificBusinessButtonContainer{
    display: flex;
    justify-content: center;
}

.sortBusinessButton{
    margin: 10px;
}

.selectedCategory{
    background-color: red;
    color: white;
    text-decoration: underline;
    border-radius: 2%;
}